stages:
- prepare
- fips helper binaries
- prebuild
- prerelease
- test
- coverage
- build
- package
- release
- postrelease
- docs

include:
- local: /.gitlab/ci/_common.gitlab-ci.yml
- local: /.gitlab/ci/_rules.gitlab-ci.yml
- local: /.gitlab/ci/prepare.gitlab-ci.yml
- local: /.gitlab/ci/fips-helper-binaries.gitlab-ci.yml
- local: /.gitlab/ci/prebuild.gitlab-ci.yml
- local: /.gitlab/ci/prerelease.gitlab-ci.yml
- local: /.gitlab/ci/test.gitlab-ci.yml
- local: /.gitlab/ci/coverage.gitlab-ci.yml
- local: /.gitlab/ci/build.gitlab-ci.yml
- local: /.gitlab/ci/package.gitlab-ci.yml
- local: /.gitlab/ci/release.gitlab-ci.yml
- local: /.gitlab/ci/postrelease.gitlab-ci.yml
- local: /.gitlab/ci/docs.gitlab-ci.yml
