# When adding a group as a code owner, make sure to invite the group to the
# project here: https://gitlab.com/gitlab-org/gitlab-runner/-/project_members
# As described in https://docs.gitlab.com/ee/user/project/code_owners.html

* @gitlab-com/runner-maintainers
.editorconfig   @gitlab-com/runner-group @gitlab-com/runner-maintainers
.gitattributes  @gitlab-com/runner-group @gitlab-com/runner-maintainers
.gitignore      @gitlab-com/runner-group @gitlab-com/runner-maintainers

[Documentation]
.markdownlint.yml @gitlab-com/runner-docs-maintainers
/docs/ @gitlab-com/runner-docs-maintainers
