# When adding a group as a code owner, make sure to invite the group to the
# project here: https://gitlab.com/gitlab-org/gitlab-runner/-/project_members
# As described in https://docs.gitlab.com/user/project/codeowners/

* @gitlab-com/runner-maintainers
.editorconfig   @gitlab-com/runner-group @gitlab-com/runner-maintainers
.gitattributes  @gitlab-com/runner-group @gitlab-com/runner-maintainers
.gitignore      @gitlab-com/runner-group @gitlab-com/runner-maintainers

[Hosted Runners] @gitlab-org/production-engineering/runners-platform
.gitlab/ci/hosted-runners-bridge.gitlab-ci.yml
magefiles/hosted_runners.go
magefiles/hosted_runners/

[Documentation]
.markdownlint.yml @gitlab-com/runner-docs-maintainers
/docs/ @gitlab-com/runner-docs-maintainers

## Localization
/docs-locale/ @gitlab-com/localization/maintainers/tech-docs
/docs-locale/ja-jp @gitlab-com/localization/maintainers/japanese @gitlab-com/localization/maintainers/tech-docs
/argo_translation.yml @gitlab-com/localization/maintainers/tech-docs
