####################
# Changes patterns #
####################

.code-backstage-patterns: &code-backstage-patterns
  - ".gitlab-ci.yml"
  - ".golangci.yml"
  - ".gitlab/ci/**/*"
  - ".gitattributes"
  - "Makefile*"
  - "**/*.go"
  - "{ci,dockerfiles,packaging,scripts,tests}/**/*"
  - "**/testdata/**/*"
  - "go.*"
  - "tmp/gitlab-test/**"
  - "VERSION"

.docs-patterns: &docs-patterns
  - ".vale.ini"
  - ".markdownlint.yml"
  - "docs/**/*"
  - "scripts/lint-docs"

.docs-i18n-patterns: &docs-i18n-patterns
  - ".vale.ini"
  - ".markdownlint.yml"
  - "docs-locale/**/*"
  - "scripts/lint-i18n-docs"

.docs-all-patterns: &docs-all-patterns
  - ".vale.ini"
  - ".markdownlint.yml"
  - "docs/**/*"
  - "docs-locale/**/*"
  - "scripts/lint-docs"
  - "scripts/lint-i18n-docs"

##############
# Conditions #
##############

.if-not-canonical-namespace: &if-not-canonical-namespace
  if: '$CI_PROJECT_NAMESPACE !~ /^gitlab-org($|\/)/'

.if-security-project-path: &if-security-project-path
  if: '$CI_PROJECT_PATH == "gitlab-org/security/gitlab-runner"'

.if-default-branch: &if-default-branch
  if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"

.if-release-candidate-tag: &if-release-candidate-tag
  if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+-rc[0-9]+/'

.if-stable-release-tag: &if-stable-release-tag
  if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'

.if-merge-request-pipeline: &if-merge-request-pipeline
  if: $CI_PIPELINE_SOURCE == "merge_request_event"

.if-not-web-or-push-pipeline: &if-not-web-or-push-pipeline
  if: $CI_PIPELINE_SOURCE != "web" && $CI_PIPELINE_SOURCE != "push"

.if-runner-merge-request-pipeline: &if-runner-merge-request-pipeline
  if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_PROJECT_PATH == "gitlab-org/gitlab-runner"

.if-runner-security-merge-request-pipeline: &if-runner-security-merge-request-pipeline
  if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_PROJECT_PATH == "gitlab-org/security/gitlab-runner"

.if-not-canonical-namespace-merge-request-pipeline: &if-not-canonical-namespace-merge-request-pipeline
  if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_PROJECT_NAMESPACE !~ /^gitlab-org($|\/)/

.if-runner-default-branch: &if-runner-default-branch
  if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_PROJECT_PATH == "gitlab-org/gitlab-runner"

.if-security-runner-default-branch: &if-security-runner-default-branch
  if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_PROJECT_PATH == "gitlab-org/security/gitlab-runner"

.if-runner-or-security-runner-default-branch: &if-runner-or-security-runner-default-branch
  if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && ($CI_PROJECT_PATH == "gitlab-org/gitlab-runner" || $CI_PROJECT_PATH == "gitlab-org/security/gitlab-runner")

.if-runner-or-security-runner-stable-ref: &if-runner-or-security-runner-stable-ref
  if: $CI_COMMIT_REF_NAME =~ /\A[0-9]+-[0-9]+-stable\z/ && ($CI_PROJECT_PATH == "gitlab-org/gitlab-runner" || $CI_PROJECT_PATH == "gitlab-org/security/gitlab-runner")

.if-runner-or-security-runner-feature-ref: &if-runner-or-security-runner-feature-ref
  if: $CI_COMMIT_REF_NAME =~ /feature\/.+/ && ($CI_PROJECT_PATH == "gitlab-org/gitlab-runner" || $CI_PROJECT_PATH == "gitlab-org/security/gitlab-runner")

.if-runner-release-ref: &if-runner-release-ref
  if: $CI_COMMIT_REF_NAME =~ /\Av[0-9]+\.[0-9]+\.[0-9]+(-rc[0-9]+)?\z/ && $CI_PROJECT_PATH == "gitlab-org/gitlab-runner"

.if-runner-stable-release-ref: &if-runner-stable-release-ref
  if: $CI_COMMIT_REF_NAME =~ /\Av[0-9]+\.[0-9]+\.[0-9]+?\z/ && $CI_PROJECT_PATH == "gitlab-org/gitlab-runner"

.if-security-runner-release-ref: &if-security-runner-release-ref
  if: $CI_COMMIT_REF_NAME =~ /\Av[0-9]+\.[0-9]+\.[0-9]+?\z/ && $CI_PROJECT_PATH == "gitlab-org/security/gitlab-runner"

.if-runner-bleeding-edge-release-ref: &if-runner-bleeding-edge-release-ref
  if: $CI_COMMIT_REF_NAME =~ /\Av[0-9]+\.[0-9]+\.[0-9]+-rc[0-9]+\z/ && $CI_PROJECT_PATH == "gitlab-org/gitlab-runner"

.if-runner-or-security-bleeding-edge-release-ref: &if-runner-or-security-bleeding-edge-release-ref
  if: $CI_COMMIT_REF_NAME =~ /\Av[0-9]+\.[0-9]+\.[0-9]+-rc[0-9]+\z/ && ($CI_PROJECT_PATH == "gitlab-org/gitlab-runner" || $CI_PROJECT_PATH == "gitlab-org/security/gitlab-runner")

.if-not-gitlab-runner-community-path: &if-not-gitlab-runner-community-path
  if: $CI_MERGE_REQUEST_SOURCE_PROJECT_PATH != null && $CI_MERGE_REQUEST_SOURCE_PROJECT_PATH !~ /^gitlab-org($|\/)/

########################
# Default branch rules #
########################

.rules:default-branch-only:no_docs:
  rules:
    - <<: *if-runner-or-security-runner-default-branch
      changes: *code-backstage-patterns

.rules:default-branch-only:no_docs:always:
  rules:
    - <<: *if-runner-or-security-runner-default-branch
      changes: *code-backstage-patterns
      when: always

#######################
# Merge Request rules #
#######################

.rules:merge_request_pipelines:
  rules:
    - <<: *if-merge-request-pipeline
    - <<: *if-runner-or-security-runner-default-branch
    - <<: *if-runner-or-security-runner-stable-ref
    - <<: *if-runner-or-security-runner-feature-ref
    - <<: *if-runner-release-ref
    - <<: *if-security-runner-release-ref

.rules:merge_request_pipelines:no_docs:
  rules:
    - <<: *if-merge-request-pipeline
      changes: *code-backstage-patterns
    - <<: *if-runner-or-security-runner-default-branch
      changes: *code-backstage-patterns
    - <<: *if-runner-or-security-runner-stable-ref
      changes: *code-backstage-patterns
    - <<: *if-runner-or-security-runner-feature-ref
      changes: *code-backstage-patterns
    - <<: *if-runner-release-ref
      changes: *code-backstage-patterns
    - <<: *if-security-runner-release-ref
      changes: *code-backstage-patterns

.rules:merge_request_pipelines:docs:
  rules:
    - <<: *if-merge-request-pipeline
      changes: *docs-patterns
    - <<: *if-runner-or-security-runner-default-branch
      changes: *docs-patterns
    - <<: *if-runner-or-security-runner-stable-ref
      changes: *docs-patterns
    - <<: *if-runner-or-security-runner-feature-ref
      changes: *docs-patterns
    - <<: *if-runner-release-ref
      changes: *docs-patterns
    - <<: *if-security-runner-release-ref
      changes: *docs-patterns

.rules:merge_request_pipelines:docs-i18n:
  rules:
    - <<: *if-merge-request-pipeline
      changes: *docs-i18n-patterns
    - <<: *if-runner-or-security-runner-default-branch
      changes: *docs-i18n-patterns
    - <<: *if-runner-or-security-runner-stable-ref
      changes: *docs-i18n-patterns
    - <<: *if-runner-or-security-runner-feature-ref
      changes: *docs-i18n-patterns
    - <<: *if-runner-release-ref
      changes: *docs-i18n-patterns
    - <<: *if-security-runner-release-ref
      changes: *docs-i18n-patterns

.rules:merge_request_pipelines:docs-all:
  rules:
    - <<: *if-merge-request-pipeline
      changes: *docs-all-patterns
    - <<: *if-runner-or-security-runner-default-branch
      changes: *docs-all-patterns
    - <<: *if-runner-or-security-runner-stable-ref
      changes: *docs-all-patterns
    - <<: *if-runner-or-security-runner-feature-ref
      changes: *docs-all-patterns
    - <<: *if-runner-release-ref
      changes: *docs-all-patterns
    - <<: *if-security-runner-release-ref
      changes: *docs-all-patterns

.rules:merge_request_pipelines:no_docs:no-community-mr:
  rules:
    - <<: *if-not-canonical-namespace
      when: never
    - <<: *if-merge-request-pipeline
      changes: *code-backstage-patterns
    - <<: *if-runner-or-security-runner-default-branch
      changes: *code-backstage-patterns
    - <<: *if-runner-or-security-runner-stable-ref
      changes: *code-backstage-patterns
    - <<: *if-runner-or-security-runner-feature-ref
      changes: *code-backstage-patterns
    - <<: *if-runner-release-ref
      changes: *code-backstage-patterns
    - <<: *if-security-runner-release-ref
      changes: *code-backstage-patterns

.rules:merge_request_pipelines:no_docs:no-community-mr:no-security-mr:
  rules:
    - <<: *if-not-canonical-namespace
      when: never
    - <<: *if-security-project-path
      when: never
    - <<: *if-merge-request-pipeline
      changes: *code-backstage-patterns
    - <<: *if-runner-or-security-runner-default-branch
      changes: *code-backstage-patterns
    - <<: *if-runner-or-security-runner-stable-ref
      changes: *code-backstage-patterns
    - <<: *if-runner-release-ref
      changes: *code-backstage-patterns
    - <<: *if-security-runner-release-ref
      changes: *code-backstage-patterns

# Rules cannot be merged, instead of opt for creating a new rule like this one
.rules:merge_request_pipelines:no_docs:only_canonical:
  rules:
    - <<: *if-not-canonical-namespace
      when: never
    - <<: *if-runner-merge-request-pipeline
      changes: *code-backstage-patterns
    - <<: *if-runner-default-branch
      changes: *code-backstage-patterns
    - <<: *if-runner-stable-release-ref
      changes: *code-backstage-patterns
    - <<: *if-runner-release-ref
      changes: *code-backstage-patterns

.rules:merge_request_pipelines:no_docs:unit_test:
  rules:
    - <<: *if-not-canonical-namespace-merge-request-pipeline
      changes: *code-backstage-patterns
      allow_failure: true
    - <<: *if-merge-request-pipeline
      changes: *code-backstage-patterns
    - <<: *if-runner-or-security-runner-default-branch
      changes: *code-backstage-patterns
    - <<: *if-runner-or-security-runner-stable-ref
      changes: *code-backstage-patterns
    - <<: *if-runner-or-security-runner-feature-ref
      changes: *code-backstage-patterns
    - <<: *if-runner-release-ref
      changes: *code-backstage-patterns
    - <<: *if-security-runner-release-ref
      changes: *code-backstage-patterns

.rules:merge_request_pipelines:no_docs:always:
  rules:
    - <<: *if-merge-request-pipeline
      changes: *code-backstage-patterns
      when: always
    - <<: *if-runner-or-security-runner-default-branch
      changes: *code-backstage-patterns
      when: always
    - <<: *if-runner-or-security-runner-stable-ref
      changes: *code-backstage-patterns
      when: always
    - <<: *if-runner-release-ref
      changes: *code-backstage-patterns
      when: always
    - <<: *if-security-runner-release-ref
      changes: *code-backstage-patterns
      when: always

#################
# Release rules #
#################

.rules:release:all:
  rules:
    - <<: *if-not-canonical-namespace
      when: never
    - <<: *if-default-branch
    - <<: *if-release-candidate-tag
    - <<: *if-stable-release-tag

.rules:release:bleeding-edge:
  rules:
    - <<: *if-not-gitlab-runner-community-path
      when: never
    - <<: *if-runner-default-branch
      changes: *code-backstage-patterns
    - <<: *if-runner-bleeding-edge-release-ref
      changes: *code-backstage-patterns
    - <<: *if-runner-or-security-runner-stable-ref
      changes: *code-backstage-patterns
    - <<: *if-runner-or-security-runner-feature-ref
      changes: *code-backstage-patterns

.rules:release-or-security:bleeding-edge-or-stable:
  rules:
    - <<: *if-not-gitlab-runner-community-path
      when: never
    - <<: *if-runner-or-security-runner-default-branch
      changes: *code-backstage-patterns
    - <<: *if-runner-or-security-bleeding-edge-release-ref
      changes: *code-backstage-patterns
    - <<: *if-runner-or-security-runner-stable-ref
      changes: *code-backstage-patterns
    - <<: *if-runner-or-security-runner-feature-ref
      changes: *code-backstage-patterns

.rules:release:stable-or-rc:
  rules:
    - if: $CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+(-rc[0-9]+)?$/ && $CI_PROJECT_PATH == "gitlab-org/gitlab-runner"
      changes: *code-backstage-patterns
      when: on_success
    - if: $CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+(-rc[0-9]+)?$/ && $CI_PROJECT_PATH == "gitlab-org/security/gitlab-runner"
      changes: *code-backstage-patterns
      when: manual

.rules:release:stable:branch:
  rules:
    - <<: *if-runner-stable-release-ref
      changes: *code-backstage-patterns
    - <<: *if-security-runner-release-ref
      changes: *code-backstage-patterns

.rules:release:stable:branch:ignore-changes:
  rules:
    - <<: *if-runner-stable-release-ref
    - <<: *if-security-runner-release-ref

.rules:release:development:merge-requests:
  rules:
    - <<: *if-runner-merge-request-pipeline
      changes: *code-backstage-patterns
    - <<: *if-runner-security-merge-request-pipeline
      changes: *code-backstage-patterns

.rules:release:development:merge-requests:no-community-mr:
  rules:
    - <<: *if-not-canonical-namespace
      when: never
    - <<: *if-runner-merge-request-pipeline
      changes: *code-backstage-patterns
    - <<: *if-runner-security-merge-request-pipeline
      changes: *code-backstage-patterns

.rules:runner-only:release:development:merge-requests:
  rules:
    - <<: *if-runner-merge-request-pipeline
      changes: *code-backstage-patterns

.rules:build:test:images:merge-requests:
  rules:
    - <<: *if-runner-merge-request-pipeline
      changes:
        - tests/dockerfiles/*

.rules:prepare:test-ci-scripts:merge-requests:
  rules:
    - <<: *if-runner-merge-request-pipeline

##############
# Docs rules #
##############

.rules:docs:skip:
  rules:
    - changes: *docs-patterns
      when: never
    - when: on_success

.rules:docs:review:
  rules:
    - <<: *if-not-canonical-namespace
      when: never
    - <<: *if-merge-request-pipeline
      when: manual

##############
# Tags rules #
##############

.rules:kubernetes:tag:if-not-canonical:
  rules:
    - <<: *if-not-canonical-namespace
      variables:
        # !reference doesn't work in variables
        KUBERNETES_RUNNER_TAG: gitlab-org
    - when: always

########################
# Binary signing rules #
########################

.rules:sign_binaries:
  variables:
    GCLOUD_PROJECT: gitlab-ci-runners-signing
    SERVICE_ACCOUNT: gitlab-runner-signer@gitlab-ci-runners-signing.iam.gserviceaccount.com
    WI_POOL_PROVIDER: //iam.googleapis.com/projects/8522242139/locations/global/workloadIdentityPools/gitlab-pool-oidc-$CI_PROJECT_ID/providers/gitlab-jwt-$CI_PROJECT_ID
